<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || t('.title') %>
	</div>
	<div id="columns">
		<div id="side">
			<div id="cart">
				<%= render @cart if @cart%>
			</div>
			<a href="#"><%= t('.home') %></a><br>
			<a href="#"><%= t('.questions') %></a><br>
			<a href="#"><%= t('.news') %></a><br>
			<a href="#"><%= t('.contact') %></a><br>

		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>				
</body>
</html>
